.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  background-color: $white;
  z-index: 999;
  @include mq(sm) {
    height: 65px;
  }
  @include mq(lg) {
    border-bottom: none;
  }
  @include mq(xl) {
    height: 75px;
  }
}

.header__logo {
  width: 100px;
  @include mq(sm) {
    width: 130px;
  }
  @include mq($until:lg) {
    position: absolute;
    top: 50%;
    left: 1.25rem;
    transform: translateY(-50%);
  }
}

.header__burger {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  overflow: hidden;
  @include mq(sm) {
    width: 40px;
    height: 40px;
  }
  @include mq(lg) {
    display: none;
  }
  span {
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    width: 25px;
    height: 3px;
    background-color: $primary;
    text-align: left;
    border-radius: 6px;
    transition: transform .3s,opacity .3s;
    @include mq(sm) {
      width: 30px;
    }
    &:first-child {
      margin-top: -8px;
    }
    &:nth-child(2) {
      width: 21px;
      @include mq(sm) {
        width: 26px;
      }
    }
    &:last-child {
      width: 18px;
      @include mq(sm) {
        width: 23px;
      }
      margin-top: 8px;
    }
  }
  &.is-active {
    span {
      &:first-child {
        margin-top: 0;
        transform: translate(0,-50%) rotate(45deg);
      }
      &:nth-child(2){
        transform: translate(100%,-50%);
        opacity: 0;
      }
      &:last-child{
        margin-top: 0;
        width: 25px;
        @include mq(sm) {
          width: 30px;
        }
        transform: translate(0,-50%) rotate(-45deg);
      }
    }
  }
}