.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $black;
  pointer-events: none;
  z-index: 9999;
  &.is-loaded {
    background: none;
    .loading__background {
      animation: welcome-screen-outro-background 0.9s reverse both
        cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    .loading__logo {
      animation: welcome-screen-outro-logo 0.3s both ease;
    }
  }
}

.loading__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  animation: welcome-screen-intro-background 0.9s both
    cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes welcome-screen-intro-background {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes welcome-screen-outro-background {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.loading__foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading__logo {
  width: 120px;
  animation: welcome-screen-intro-logo 1.5s both 1s
  cubic-bezier(0.165, 0.84, 0.44, 1);
  @include mq(sm) {
    width: 160px;
  }
  @include mq(md) {
    width: 200px;
  }
  img {
    width: 100%;
  }
}

@keyframes welcome-screen-intro-logo {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes welcome-screen-outro-logo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}