.nav {
  display: flex;
  align-items: center;
  @include mq($until:lg) {
    display: none;
  }
  li {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%) skewx(-25deg);
      width: 100%;
      height: 100%;
      box-shadow: 0 0 10px rgba(0,0,0,0.4);
      background-color: #fff;
    }
  }
  a {
    position: relative;
    display: block;
    transform: scale(1);
    transition: all .3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  img {
    width: 30px;
    height: 30px;
    @include mq(xl) {
      width: 35px;
      height: 35px;
    }
  }
}

.mobile-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $primary;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform .3s,visibility .3s,opacity .3s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  @include mq(lg) {
    display: none;
  }
  &.is-active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  li {
    position: relative;
    &:last-child {
      &::before {
        display: none;
      }
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 40px;
      height: 2px;
      background-color: $white;
    }
  }
  a {
    display: block;
    text-align: center;
    transform: scale(1);
    transition: transform .3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  img {
    width: 40px;
    height: 40px;
    @include mq(md) {
      width: 50px;
      height: 50px;
    }
  }
}

.mobile-close {
  display: block;
  width: 32px;
  height: 32px;
  margin-left: auto;
  margin-top: .75rem;
  margin-right: 1.25rem;
  margin-bottom: 150px;
  background-color: $white;
  border-radius: 50%;
  &::before,&::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 20px;
    width: 3px;
    background-color: $primary;
  }
  &::before {
    transform: translate(-50%,-50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  @include mq(sm) {
    width: 40px;
    height: 40px;
    margin-top: 1rem;
    margin-right: 1.5rem;
  }
}